/backend/node_modules
/backend/.env
/frontend/node_modules



backend : https://deploymernapp02-72u3z2lty-muhammadayaz77s-projects.vercel.app/ping

frontend : deploy-mern-app-02-il3x-git-main-muhammadayaz77s-projects.vercel.app